<!doctype html>
<html lang="en">
  <head>
   
    <title>Image Uploader</title>
  </head>
  <body>
   <div class="container">
    <div class="py-5 text-center bg-secondary text-white">
     <h1 class="mb-3">Upload Image</h1>
     <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {%if form%}
      {{form}}
      {%endif%}
      {%if cluster_form%}
      {{cluster_form}}
      {%endif%}
      {%if image_Form%}
      {{image_Form}}
      {%endif%}
      <input type="submit" class="btn btn-danger" value="Upload">
     </form>
    </div>
    
   </div>
    <a href="{% url 'dashboard' %}">Home</a>
  </body>
</html>