<!DOCTYPE html>
<html>
<head>
  <title>View Images</title>
</head>
<body>
  <a href="{% url 'index' %}">Home</a>
  <!-- <div class="row">
    {% for x in latlon %}
    <small class="text-muted">{{x}}</small>
    {% endfor %}
  </div> -->
    <div class="row">
     {% for x in img %}
      <div class="col-sm-4">
       <div class="card m-2">
        <img src="{{x.updated_image.url}}" alt="" class="card-img-top" height="200px">
        <div class="card-footer">
         <small class="text-muted">Cluster number :{{x.cluster}}</small>
        </div>
       </div>
      </div>
     {% endfor %}
    </div>
</body>
</html>
